<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{dashboard/layout}">
	<head>
		<title>Home</title>
		<link rel="stylesheet" th:href="@{/css/dashboard.css}" />
	</head>

	<body>
		<ul layout:fragment="menu" class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" href="#">
					<span data-feather="home"></span>
					Leave
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					<span data-feather="file"></span>
					Compensation
				</a>
			</li>
		</ul>
		<main
			layout:fragment="main"
			role="main"
			class="col-md-9 ml-sm-auto col-lg-10 px-md-4"
		></main>

		<div layout:fragment="script">
			<script th:src="@{/js/dashboard.js}"></script>
		</div>
	</body>
</html>
